/* RESET */
:root {
    /* Padrão: Cores*/
    --color-lighter: #EAE8E0;
    --color-light: #FFF5D8;
    --color-secondary: #EADE81;
    --color-primary: #FFD91C;
    --color-dark: #36373C;
    --color-darker: #24272F;
  }
  /* Padrão: Espaçamentos */
  --spacing-size-default: 20px;
  --spacing-size-quarter: calc(.25 * var(--spacing-size-default));
  --spacing-size-third: calc(.33 * var(--spacing-size-default));
  --spacing-size-half: calc(.5 * var(--spacing-size-default));
  --spacing-size-double: calc(2 * var(--spacing-size-default));

  /* Padrão: Fontes - Tamanhos */
  --font-size-default: 20px;
  --font-size-xxs: calc(.7 * var(--font-size-default));
  --font-size-xs: calc(.8 * var(--font-size-default));
  --font-size-sm: calc(.9 * var(--font-size-default));
  --font-size-md: calc(1 * var(--font-size-default));
  --font-size-lg: calc(1.2 * var(--font-size-default));
  --font-size-xl: calc(1.6 * var(--font-size-default));
  --font-size-xxl: calc(1.8 * var(--font-size-default));
  /* Padrão: Fontes - Tamanhos Entrelinha */
  --line-height-default: calc(1.5 * var(--font-size-default));
  --line-height-xxs: calc(1.5 * var(--font-size-xxs));
  --line-height-xs: calc(1.5 * var(--font-size-xs));
  --line-height-sm: calc(1.5 * var(--font-size-sm));
  --line-height-md: calc(1.5 var(--font-size-md));
  --line-height-lg: calc(1.5 * var(--font-size-lg));
  --line-height-xl: calc(1.5 * var(--font-size-xl));
  --line-height-xxl: calc(1.5 * var(--font-size-xxl));

  /* Padrão: Fontes - Família*/
  --font-family-text: 'Nunito Sans', sans-serif;
  --font-family-title: 'Poppins', sans-serif;
  /* Padrão: Border Radius */
  --border-radius-default: calc(var(--spacing-size-default)/2.5);
  --border-radius-circle: 50%;